# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

options:
  site:
    type: string
    description: >
      Required if no nginx-proxy relation is established. The site name, e.g. "mysite.local".
      If the backend is set and this option is empty then the site will default to the application
      name.
  backend:
    type: string
    description: >
      Required if no nginx-proxy relation is established. The backend to use for site, e.g. "http://mybackend.local:80".
    default: ""
  backend_site_name:
    type: string
    description: >
      Backend site name, e.g. mybackend.local. If none given, will
      work out from the configured 'backend' config above.
    default: ""
  cache_all:
    type: boolean
    description: >
      By default, we respect upstream cache headers (Cache-Control
      and Expires). This overrides that and enables caching even if
      upstream tells us not to.
      WARNING: It won't cache when Vary: * and Set-Cookies headers are sent in the responses.
      This option overrides the backend cache time instructions (Expires or max-age) by setting
      a cache time to 1h (which could be less than the caching instructed by the backend)
    default: False
  cache_inactive_time:
    type: string
    description: >
      The maximum age/time inactive objects are stored in cache.
    default: "10m"
  cache_max_size:
    type: string
    description: >
      The size of the Nginx storage cache.
    default: "10G"
  cache_use_stale:
    type: string
    description: >
      Determines in which cases a stale cached response can be used
      during communication with the proxied server.
    default: "error timeout updating http_500 http_502 http_503 http_504"
  cache_valid:
    type: string
    description: >
      Sets caching time for different response codes.
    default: "200 1h"
  client_max_body_size:
    type: string
    description: >
      Override max. request body size (default 1m).
    default: "1m"
  tls_secret_name:
    type: string
    description: >
      The name of the K8s secret to be associated with the ingress resource.
    default: ""
  proxy_cache_revalidate:
    type: boolean
    description: >
      Enables revalidation of expired cache items using conditional requests with the
      "If-Modified-Since" and "If-None-Match" header fields.
      If the proxied server returns 304 (Not Modified), the cached item will be updated
      without re-downloading the entire content, improving performance.
    default: False
