proxy_cache_path {NGINX_CACHE_PATH} use_temp_path=off levels=1:2 keys_zone={NGINX_KEYS_ZONE}:10m inactive={NGINX_CACHE_INACTIVE_TIME} max_size={NGINX_CACHE_MAX_SIZE};

server {{
    server_name {NGINX_SITE_NAME};
    listen *:{CONTAINER_PORT};

    client_max_body_size {NGINX_CLIENT_MAX_BODY_SIZE};

    port_in_redirect off;
    absolute_redirect off;

    location / {{
        proxy_pass "{NGINX_BACKEND}";
        proxy_set_header Host "{NGINX_BACKEND_SITE_NAME}";
        # Removed the following headers to avoid cache poisoning.
        proxy_set_header Forwarded "";
        proxy_set_header X-Forwarded-Host "";
        proxy_set_header X-Forwarded-Port "";
        proxy_set_header X-Forwarded-Proto "";
        proxy_set_header X-Forwarded-Scheme "";

        add_header X-Cache-Status "$upstream_cache_status from {JUJU_POD_NAME} ({JUJU_POD_NAMESPACE})";

        proxy_force_ranges on;
        proxy_cache {NGINX_KEYS_ZONE};
        proxy_cache_use_stale {NGINX_CACHE_USE_STALE};
        proxy_cache_valid {NGINX_CACHE_VALID};
        {NGINX_CACHE_ALL};
    }}

    access_log /dev/stdout content_cache;
    error_log /dev/stdout info;
}}
